<section>
  <h1>List Tasks page</h1>

  {{#if tasks}}
    <div class='row'>
      {{#each tasks}}
        <article class='col-md-3'>
          <div class='card'>
            <div class='card-body'>
              <h4
                class='card-title d-flex justify-content-between align-items-center'
              >
                {{title}}
                <a href='/tasks/edit/{{_id}}'><i
                    class='fa-solid fa-pen-to-square'
                  ></i></a>
              </h4>
              <p>{{description}} </p>
              <!-- DELETE REQUEST -->
              <form action='/tasks/delete/{{_id}}?_method=DELETE' method='POST'>
                <input type='hidden' name='_method' value='DELETE' />
                <button
                  type='submit'
                  class='btn btn-danger btn-block btn-sm'
                >Delete</button>
              </form>
            </div>
          </div>
        </article>
      {{/each}}
    </div>

  {{else}}
    <div>
      <h2><em>There are currently no task.</em></h2>
      <a href='/tasks/add'>Add New Task</a>
    </div>
  {{/if}}

</section>